<% include ../partials/header.ejs %>

 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

  <!--Material icons-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  


<div id="main">

  
   <span class="menu-span">
  <span class="menu-btn tooltipped" data-position="right" data-tooltip="Menu" data-original-title="" title="" style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>  
   <a href="/cuisines"> <i class=" material-icons prefix home-i tooltipped" data-position="right" data-tooltip="Home Page" data-original-title="" title="">home</i></a>
          <a href="/search"> <i class="material-icons prefix tooltipped" data-position="right" data-tooltip="Search for Recipes" data-original-title="" title=""">restaurant_menu</i></a>
          <% if(!currentUser){ %>
          <a href="/cuisines/new"><i class="material-icons prefix tooltipped" data-position="right" data-tooltip="Add a new Fave" data-original-title="" title="">camera_enhance</i></a>
          <a href="/login"><i class="material-icons tooltipped" data-position="right" data-tooltip="Login" data-original-title="" title="">power_settings_new</i></a>
          
          <a href="/register"><i class="material-icons tooltipped" data-position="right" data-tooltip="SignUp" data-original-title="" title="">person_add</i></a>
          <% } else { %>
          
          <a href="/cuisines/new"><i class="material-icons prefix tooltipped" data-position="right" data-tooltip="Add a new Fave" data-original-title="" title="">camera_enhance</i></a>



          <a href="/user/<%=currentUser.id%>"><i class="material-icons prefix tooltipped" data-position="right" data-tooltip="<%= currentUser.username %>,s profile" data-original-title="" title="">face</i></a>
          <a href="/logout"><i class="material-icons tooltipped" data-position="right" data-tooltip="Logout" data-original-title="" title="">highlight_off</i></a>
          <% } %>
</span>

      <div class="container-fluid show-container">
  <div class="row">

    <div class="col-lg-8 left">
            
          <div class="card mb-5 show-card">
                <img  class="card-img-top show-img" width="100" height="300" src="<%= cuisine.image %>">

                <div class="card-body">
                 <span  class="right likes-show"><img  height="34" width="34" src="/../images/thumb-up-icon.jpg" alt="Likes: "> </a><%= cuisine.votes %></span>
                    <h4 class="float-right cuisine-cost">$<%= cuisine.cost %></h4>
                    <h5 class="card-title" style="color:#d92700;"><%= cuisine.name %></h5>

                    <h5>At <%= cuisine.restaurant %></h5>

                    <p>
                      <em>Posted by: <a style="color:#d92700;" href="/user/<%= cuisine.author.id %>"><%= cuisine.author.username %></a>, <%= moment(cuisine.createdAt).fromNow() %></em>

                      <div class="float-right"> <% if(currentUser && cuisine.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %> 

                  <a class=" btn btn-outline-warning" href="/cuisines/<%= cuisine._id %>/edit">Edit</a>

                  <form class="delete-form" action="/cuisines/<%= cuisine._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-danger">Delete</button>
                  </form>

                <% }%>
                </div>
                    </p>

                    <a target="_blank" href="http://maps.google.com/maps?q=loc: <%= cuisine.location %>&navigate=yes"><p>
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-map-pin"><path d="M21 10c0 7-9 13-9 13s-9-6-9-13a9 9 0 0 1 18 0z"></path><circle cx="12" cy="10" r="3"></circle></svg>
                        <%= cuisine.location %>
                    </p></a>
                    <hr>

                    <p class="card-text"><%= cuisine.description %></p>
                
               
              </div>

              <div class="btns-div">
              
                      
                        
                         <% if(currentUser) { %>
                <% if(cuisine.voters.includes(currentUser.username)) { %>
                <form action="/cuisines/<%= cuisine._id %>/unvotes/?_method=PUT" method="POST">
                  <input class="form-control form-control-lg"  type="hidden" name="cuisine[votes]" value="<%= cuisine.votes %>">
                  <button class="btn btn-primary like" type="submit">Dislike </button>
                  
                       
                     


                  </form>
               <% } else { %>
                 <form action="/cuisines/<%= cuisine._id %>/votes/?_method=PUT" method="POST">
                  <input class="form-control form-control-lg"  type="hidden" name="cuisine[votes]" value="<%= cuisine.votes %>">
                  <button  class="btn  btn-primary like" type="submit">Like </button>

                  
                         
                   


                  </form>
                  <% } %>
                  <% } %>   
          </div>

          </div>
          </div>


          <div class="col-lg-4 left">
          <div class="mt-2" id="map"></div>

          

      <div class="card ">
      <div class="card-header center">
      <h4 ><a class="btn  btn-success comment-btn" href="/cuisines/<%= cuisine._id %>/comments/new">Comment </a> <a  href="/cuisines/<%= cuisine._id %>/comments/new"><span  comment-img"><img  height="36" width="36" src="/../images/comment1.jpg" alt="Comments: "></a>


                     
                      <span class="comments-count"><%= cuisine.commentsCount %></span> </span></h4>
      </div>




        <div class="card-body comments-body">
        
              
   






                           
          
          
            
            
                  <% cuisine.comments.reverse().forEach(function(comment){ %>
            <div class="col s12">
              <div class="card comment-card">
              

                <div class="card-body ">


                <div >
                <p class="card-text comment-text"> <a href="/user/<%= comment.author.id %>"> <strong> <%= comment.author.username %> </strong></a> <%= comment.text %></p>
                </div>

                    <div class="float-left comment-time mr-3">
                        <p><small><%= moment(comment.createdAt).fromNow() %> </small></p>
                        
                    </div>
                    <div class="comment-btns">


                       
                       <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <div class="comment-links">
                            <a  
                               href="/cuisines/<%=cuisine._id %>/comments/<%=comment._id %>/edit">
                                 Edit  
                            </a>
                            &#8729;
                            <form class="delete-form" action="/cuisines/<%=cuisine._id %>/comments/<%=comment._id %>" method="GET">
                                <input type="submit" value="Delete">
                            </form>
                        </div>
                     <% } %>
                  






                    </div>
                    
                  </div>
                  
              </div>
            </div>
                <% }) %>
          </div>
        </div>

      
      

      </div>
    </div>

  </div>




</div>
</div>


  <script>
  function initMap() {
    var lat = <%= cuisine.lat %>;
    var lng = <%= cuisine.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false,
        styles: [
            {elementType: 'geometry', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.stroke', stylers: [{color: '#242f3e'}]},
            {elementType: 'labels.text.fill', stylers: [{color: '#746855'}]},
            {
              featureType: 'administrative.locality',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'geometry',
              stylers: [{color: '#263c3f'}]
            },
            {
              featureType: 'poi.park',
              elementType: 'labels.text.fill',
              stylers: [{color: '#6b9a76'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry',
              stylers: [{color: '#38414e'}]
            },
            {
              featureType: 'road',
              elementType: 'geometry.stroke',
              stylers: [{color: '#212a37'}]
            },
            {
              featureType: 'road',
              elementType: 'labels.text.fill',
              stylers: [{color: '#9ca5b3'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry',
              stylers: [{color: '#746855'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'geometry.stroke',
              stylers: [{color: '#1f2835'}]
            },
            {
              featureType: 'road.highway',
              elementType: 'labels.text.fill',
              stylers: [{color: '#f3d19c'}]
            },
            {
              featureType: 'transit',
              elementType: 'geometry',
              stylers: [{color: '#2f3948'}]
            },
            {
              featureType: 'transit.station',
              elementType: 'labels.text.fill',
              stylers: [{color: '#d59563'}]
            },
            {
              featureType: 'water',
              elementType: 'geometry',
              stylers: [{color: '#17263c'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.fill',
              stylers: [{color: '#515c6d'}]
            },
            {
              featureType: 'water',
              elementType: 'labels.text.stroke',
              stylers: [{color: '#17263c'}]
            }
          ]

    });
    var contentString = `
      <div class="map-content"><strong><%= cuisine.name %><br />
       @<%= cuisine.restaurant %><br />
      <%= cuisine.location %>
     
      </strong></div>
      
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
var icon = {
    url: "/../images/map-imarker.png",
    scaledSize: new google.maps.Size(50, 50), // scaled size
    
};



    var image = "../images/marker.png";
    var marker = new google.maps.Marker({
        position: center,
        icon: icon,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);

    });
       


  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAK90bjibQ0nE6InKUgGExNL3Vde4n-C14&callback=initMap"></script>
  </div>
 </div>
</div>
<% include ../partials/footer.ejs %>

 <script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>
      <script>
